<?xml version="1.0" ?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<link name="link_chassis">
		<pose>0 0 0.1 0 0 0</pose>

		<inertial>
			<mass value="5"/>
			<origin rpy="0 0 0" xyz="0 0 0.1"/>
			<inertia ixx="0.0395416666667" ixy="0" ixz="0" iyy="0.106208333333" iyz="0" izz="0.106208333333"/>
		</inertial>

		<collision name="collision_chasis">
			<geometry>
				<box size="2 2 1"/>
			</geometry>
		</collision>

		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<box size="2 2 1"/>
			</geometry>
		</visual>
	</link>
	<!--
	<link name="front_left_wheel_link">
		<collision>
			<geometry>
				<cylinder radius="0.1" length="0.05"/>
			</geometry>
		</collision>

		<visual>
			<geometry>
				<cylinder radiues="0.1" length="0.05"/>
			</geometry>
		</visual>

	</link>

	<joint name="front_left_wheel_joint" type="continous">
		<parent link="link_chassis"/>
		<child link="front_left_wheel_link"/>
		<origin rpy="0 0 0" xyz="1 1 0"/>
		<axis xyz="0 0 1"/>
	</joint>

	<wheel name="front_left_wheel" link="wheel_link">
		<radius>0.1</radius>
		<width>0.05</width>

		<friction>
			<ode>
				<mu1>1.0</mu1>
				<mu2>0.8</mu2>
				<slip1>0.1</slip1>
				<slip2>0.5</slip2>
			</ode>
		</friction>

		<inertia>
			<ixx>0.01</ixx>
			<iyy>0.02</iyy>
			<izz>0.01</izz>
		</inertia>

		<damping>
			<linear>0.2</linear>

			<angular>0.1</angular>
		</damping>
	</wheel>

-->
	<imu name="imu_sensor">
		<parent link="link_chassis" />
		<origin rpy="0 0 0" xyz="0 0 0.1" />

		<gravity>0 0 -9.81</gravity>
		<linear_accelaration_noise>0.01 0.01 0.01</linear_accelaration_noise>
		<angular_velocity_noise> 0.005 0.005 0.005</angular_velocity_noise>
	</imu>

	<link name="gps_sensor">
		<visual>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<cylinder radius="0.02" length="0.005"/>
			</geometry>
		</visual>

		<collision>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<geometry>
				<cylinder radius="0.02" length="0.005"/>
			</geometry>
		</collision>

		<inertial>
			<mass value="0.001"/>
			<origin rpy="0 0 0" xyz="0 0 0"/>
			<inertia ixx="0.000001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.000001"/>
		</inertial>
	</link>

	<joint name="gps joint" type="fixed">
		<parent link="link_chassis"/>
		<child link="gps_sensor"/>
		<origin rpy="0 0 0" xyz="0 0 0"/>
	</joint>
</robot>
